.photo-card {
  margin-bottom: $space-30;

  h3 {
    margin-top: 0;
  }

  p {
    height: 95px;
  }

  .details {
    text-align: right;
    color: $dark-color;
    font-size: 0.95em;
    font-style: italic;
  }
}
