footer {
  margin-top: $space-30;
  background-color: $primary-color;
  color: $primary-lightest-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;

  .vertical-divider {
    display: inline-block;
    padding: 0 15px;
  }

  a {
    color: white;
    &:hover {
      color: $primary-light-color;
    }
  }
}
