body {
  background-color: $primary-lightest-color;
  margin: 0;
  font-family: $content-font;
}

h1 {
  font-family: $title-font;
  font-size: 5em;
  color: white;
}

h2,
h3,
h4 {
  font-family: $title-font;
}

img {
  max-width: 100%;
  height: auto;
}
