body {
  background-color: $primary-lightest-color;
  margin: 0;
  font-family: $content-font;
  color: $darker-color;
}

h1 {
  font-family: $title-font;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h2,
h3,
h4 {
  font-family: $title-font;
}

img {
  max-width: 100%;
  height: auto;
}

picture > img,
picture > source {
  display: block;
}

video {
  cursor: pointer;
}

main {
  max-width: 1920px;
  align-self: center;
}

hr {
  border-top: 1px solid $secondary-color;
  width: 50%;
  margin: $space-30 auto;

  &.variant {
    border-top: 1px solid $tertiary-color;
    width: 98%;
  }
}
