.center {
  text-align: center;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.rounded {
  border-radius: 50%;
}

.button {
  color: $primary-lightest-color;
  font-weight: bold;
  display: inline-block;
  padding: 8px 30px;
  background-color: $primary-color;
  border-radius: 30px;
  text-decoration: none;
  margin-top: $space-15;
  transition: opacity 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.link {
  color: $primary-color;
  text-decoration: underline;
  border: none;
  padding: 5px 15px;
  margin-bottom: 10px;
  background-color: transparent;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    color: black;
  }
}
