@font-face {
  font-family: "montserrat-a";
  src: url(../fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
  font-family: "montserrat-a-bold";
  src: url(../fonts/MontserratAlternates-Bold.ttf);
}

@font-face {
  font-family: "montserrat-a-extra-bold";
  src: url(../fonts/MontserratAlternates-ExtraBold.ttf);
}
