/* Colors */
$primary-color: #31473c;
$primary-light-color: #89a189;
$primary-lightest-color: #f2f7f5;
$secondary-color: #e8b15f;
$tertiary-color: #f5d7db;
$dark-color: #555555;

/* Fonts */
$primary-font: "montserrat-a", Verdana, sans-serif;
$primary-font-bold: "montserrat-a-bold", Verdana, sans-serif;
$primary-font-extra-bold: "montserrat-a-extra-bold", Verdana, sans-serif;
$secondary-font: Verdana, sans-Serif;

/* Spacing */
$space-15: 15px;
$space-30: 30px;
$space-60: 60px;
