.block-info {
  margin: $space-30 0;
}

.info__image {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    border: 4px solid white;
    box-shadow: 4px 4px 12px #dadada;
  }
}
