.cover {
  background-color: $primary-color;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: -20px -20px $space-60 -20px;

  &__content {
    text-align: center;

    @media only screen and (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      z-index: 1;
      width: 50%;
    }

    h1 {
      margin: $space-30 0 $space-15 0;
      padding: 0 5px;
      color: white;
      @media only screen and (min-width: 768px) {
        font-size: 4em;
        text-shadow: 6px 6px 6px $darker-color;
      }
      @media only screen and (min-width: 1200px) {
        font-size: 5em;
        text-shadow: 6px 6px 6px $darker-color;
      }
    }

    p {
      color: white;
      font-size: 24px;
      font-family: $title-font;
      margin: 0 0 $space-30 0;
      padding: 0 5px;
      @media only screen and (min-width: 768px) {
        text-shadow: 2px 2px 2px $darkest-color;
      }
    }
  }
}
